
{%extends  'index.html'%}
{%load static%}
{%block title%}Shoping{%endblock%}

{%block content%}


    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->

        <!-- Header Area End -->


        <div class="shop_sidebar_area">

            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Catagories</h6>

                <!--  Catagories  -->

                <div class="catagories-menu">

                    <ul>
                        {%for p in postt%}
                        <li class="active"><a href="{%url 'Basic_App:shop'%}?q={{p.Category}}">{{p.Category}}</a></li>
                        {%endfor%}

                    </ul>

                </div>

            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget brands mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Brands</h6>

                <div class="widget-desc">
                    <!-- Single Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="amado">
                        <label class="form-check-label" for="amado">Amado</label>
                    </div>


                            </div>
            </div>



        </div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->

                            <!-- Sorting -->
                            <div class="product-sorting d-flex">
                                <div class="sort-by-date d-flex align-items-center mr-15">
                                    <p>Sort by</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortBydate">
                                            <option value="value">Date</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Popular</option>
                                        </select>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
  {%for p in pos%}
                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{p.image_url|default_if_none:'#'}}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="img/product-img/product2.jpg" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">${{p.price}}</p>
                                    <a href="{%url 'Basic_App:shop_product' pk=p.pk %}">
                                        <h6>{{p.title}}</h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="{%url 'Basic_App:cart' pk=p.pk%}" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="{%static 'img/core-img/cart.png' %}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                                <!-- Ratings & Cart -->
{%endfor%}
                            </div>

                        </div>
                    </div>

                  </div>


    {%endblock%}



    {%block paginator%}
    <div class="paginator">
      <ul  class="pagination justify-content-center" style="margin:20px 0">
      {%if page_obj.has_previous%}

      <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
      {%endif%}
    {%for num in paginator.page_range%}
    {%if page_obj.number == num %}
    <li class="page-item"><a class="page-link" href="?page={{num}}"><strong>{{num}}</strong></a></li>
    {%elif num > data.number|add:'-3' and num < data.number|add:'3'%}
    <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
        {%endif%}
    {%endfor%}

    {%if page_obj.has_next%}
    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>


    {%endif%}
    </ul>
    </div>
    {%endblock%}
